body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 2000px;
}

a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.top{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}

.top1, .top2 {
    display: flex;
    padding-top: 20px;
    align-items: center;
    margin-bottom: 80px;
}

.hero {
    font-size: 28px;
    font-weight: bold;
}

.hero, .nav {
    flex: 1 0 0;
}

.nav {
    text-align: end;
    font-size: 19px;
}

.left-content {
    margin-right: 20px;
}

.right-content {
    flex-shrink: 0;
}

.top-button {
    border-radius: 7px;
    height: 30px;
    width: 100px;
    color: white;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
}

.mid, .mid1 {
    display: flex;    
    justify-content: center;
    height: 370px;
    flex-wrap: wrap;
    margin: 25px 0 120px 0;
    gap: 100px;
}

h2 {
    flex-basis: 100%;
    text-align: center;
}

.box {
    margin-top: -95px;
    text-align: center;
    width: 150px;
}

.boxed-image {
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 14px;
}

.mid1 {
    background-color: #E5E7EB;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.quote {
    width: 600px;
    margin-bottom: -75px;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quote-by {
    padding-right: 60px;
    width: 600px;
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}